
header{

height: 12vh;

}

.header{

/*position: relative;*/
position: absolute;
z-index: 100;
width: 100%;
height: 12vh;
background: #fff;
opacity: 0.9;
}


.nav-container{
position:fixed;
 width:95%;
 background: #fff;
opacity: 0.9;
 /*height: :88%;*/
 margin:0 auto;
 top:2%;
 right: 0;
 left: 0;
 z-index: 90;

}
 .me img{
    display: inline-block;
    width: 7vw;
    margin: 0;
    height: auto;
  
 }

.right-nav{
  float: right;
}

.top_nav{
    /*float: right;*/
    display: inline-block;
    right:0;
    left:0;
    margin-right: 10vw;
    
 }
 .top_nav li{


 
position: relative;
display: inline-block;
font-weight: bold;
 

margin-right: 5vw;


 }
 .top_nav a{
    position: relative;
  font-family:"HelveticaNeueLTStd-BdCn", sans-serif;
    right: 10%;
    display: inline-block;
    font-size: 0.6rem;
    

 }
 .top_nav a::before {
  content: '';
  display: inline-block;
  height: 5px;
  background-color: #33473F;

  position: absolute;

  top: -1vh;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.top_nav a:hover::before {
  width: 100%;
}

.container {
position: absolute;
top: 20%;
right: 2%;
float: right;
    display: none;
      
    cursor: pointer;

}

.bar1, .bar2  {
    width: 35px;
    height: 5px;
    background-color: #333;

    margin-bottom: 6px;
    transition: 0.4s;
}
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;

    
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.header__menu--extra{

    position: absolute;
    float: right;
    top: 3%;
    right: 2%;
    display: inline-block;
    margin-top: 1em;
}

.header .header__col {
    display: inline-block;
    vertical-align: top;
}

.btn--main{
  margin-bottom: 60px;
}

#basket-preview{
  margin-bottom: 30px;
  display: inline-block;
}
.js_open .global-nav-list a{
    transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        
}
.js_open.global_nav {
    transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        

}
.global_nav{

    /*background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
    background-image: -webkit-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
    background-image: -o-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);*/

/*    background: #7b4397;   fallback for old browsers 
background: -webkit-linear-gradient(to right, #dc2430, #7b4397);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #dc2430, #7b4397);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #fff;
 
    width: 100%;
    height: 150vh;
    position: absolute;
      top: 0;
    left: 0;
 /*   display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center; 
    align-items: center;*/
    -webkit-transition: 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
    z-index: 1;
    cursor: pointer;

 }


 .global-nav-list a::before {
  content: '';
  display: inline-block;
  height: 15px;
  background-color: #33473F;

  position: absolute;
  top: 50%;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.global-nav-list a:hover::before {
  width: 100%;
}

.global-nav-list {
    position: fixed;
 /*   text-align: center;*/
    margin: 0 auto;
    padding: 0;
    top:20%;
    width: 80%;
    right: 0;
    left: 0;

}
    


ol, ul {
    list-style: none;
}

.global-nav-list li {
    margin-top: 1rem;
    position: relative;
  /*  padding: 0 153px;*/
    
}


.global-nav-list a {
    display: inline-block;
    color: #000;
    font-size: 6rem;
    line-height: 1;
    letter-spacing: 0.1em;
    font-family: "HelveticaNeueLTStd-Ld";
    font-weight: 700;
    font-weight: normal;
   /* text-shadow: 0 10px 30px rgba(2, 11, 22, 0.2);*/
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
    -o-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;

}
#cursor{
position: absolute;
display: none;
z-index: 100;
}

#cursor img{
/*position: absolute;
*/width: 400px;
z-index: 100;
}



.description-holder{
  position: relative;
  display: inline-block;
  width: 90vw;
  right: 8%;
  left: 2%;
top: 12vh;

  
}
.pre-view-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  display: inline-block;
  margin-top: 0;
}

.pre-view-image img{
  opacity: 0.5;
  transition: all .4s;
}
#small_card1{
  opacity: 1;
}

.small-card{
  margin: 0 10px;
  margin-bottom: 30px;
  width: 80px;
 
  padding-left: 10px;
  border-left: solid 1px #a8a8a8;
  
}

.small-card:hover{
  opacity:1;
  border-left: solid 1px #000;
}


.product-image-holder{
  position: relative;
  left: 10vw;
  display: inline-block;
  padding-left: 50px;
  border-left: solid 1px #000;
  overflow: hidden;
}

 .product-card-image2{
      position: absolute;
      top: 0;
      opacity: 0;
      z-index: -100;
    }

 .product-card-image3{
      position: absolute;
      opacity: 0;
      top: 0;
      z-index: -100;
    }
 .product-card-image4{
      position: absolute;
      opacity: 0;
      top: 0;
      z-index: -100;
    }





.fliter{
 
position: relative;
width: 100%;
 
  padding:0;
 display: flex;

}

.sort{
  width: 50%;
  padding: 5px;
   border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
     border-right: solid 1px #ccc;
  align-items: center;
  text-align: center;
}
.sort a {
  text-decoration: none;
  font-family: "HelveticaNeueLTStd-Cn";
  color:#ccc;
  font-size: 1rem;
}
.search-brand{
   padding: 5px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  width: 50%;
  align-items: center;
  text-align: center;
}
.search-brand a {
  text-decoration: none;
  font-family: "HelveticaNeueLTStd-Cn";
  color:#ccc;
  font-size: 1rem;
}


.quantity-input {
    display: inline-block;
    

}
.quantity-input a {
    font-family: monospace;
    padding: 0px 12px;
    text-decoration: none;
      text-decoration: none;
  font-family: "HelveticaNeueLTStd-Cn";
  color:#ccc;
  font-size: 1rem;
}


.quantity-input input[type="text"] {
height: 16px;    
background: 0 0;
    color:#ccc;
    border: none;
    text-align: center;
    max-width: 16px;
    margin: 0;
    padding: 0;
  }

.quantity-number{
  border: none;

  display: inline-block;
  height: 40px;
}




.product-image-holder img{
 width: 500px;
 height: 500px;

}

.swiper-wrapper img{
 width: 100vw;
 height: auto;

}
.details{

position: relative;
display: inline-block;
float: right;
top: 10px;
margin-left: 10vw;
width: 33vw;

}

.details h1{

 font-family: "HelveticaNeueLTStd-BdCn";
 font-size: 4rem;
 margin:10px 0;

}
.details h2{

 font-family: "HelveticaNeueLTStd-Cn";
margin:10px 0;
font-size: 2rem;
}
.details .details-brand{
  font-size: 2rem;
 font-family: "HelveticaNeueLTStd-BdCn";
margin:10px 0;
color: #a8a8a8;
}




.details p{

 font-family: "HelveticaNeueLTStd-Ld";
margin:10px 0;
font-size: 0.8rem;
}

.details-p{
  border-top: solid 1px #a8a8a8;
  font-family: "HelveticaNeueLTStd-It";
  padding-top: 15px;
  font-weight: 400;
}

.add-bag{
  font-family: "HelveticaNeueLTStd-BdCn";
  text-transform: uppercase;
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 50px;


  align-items: center;
  text-align: center;
  font-size: 1rem;
      font-family: "HelveticaNeueLTStd-BdCn", sans-serif;
    font-size: 0.7rem;

  
    color: #fff;
   background: #333;
    border: none;
    text-decoration: none;
    border-radius: 0;
    transition: all .4s ease;
}

a .add-bag:hover{
  opacity: 0.6;
}



 .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }


.mobile-details{
  display: none;
}
