
.header{

/*position: relative;*/
position: absolute;
z-index: 100;
width: 100%;
height: 12vh;
background: #fff;
opacity: 0.9;
}
#nav-container{
transition: all 0.8s;

}

.nav-container{
position:fixed;
 width:95%;
 background: #fff;
opacity: 0.9;
 /*height: :88%;*/
 margin:0 auto;
 top: 0;
 margin-top: 0;
 padding-top:1%;
 right: 0;
 left: 0;
 z-index: 90;

}
 .me img{
    display: inline-block;
    width: 7vw;
    margin: 0;
    height: auto;
  
 }

.right-nav{
  float: right;
}

.top_nav{
    /*float: right;*/
    display: inline-block;
    right:0;
    left:0;
    margin-right: 10vw;
    
 }
 .top_nav li{


 
position: relative;
display: inline-block;
font-weight: bold;
 

margin-right: 5vw;


 }



 .top_nav a{
    position: relative;
  font-family:"HelveticaNeueLTStd-BdCn", sans-serif;
    right: 10%;
    display: inline-block;
    font-size: 0.6rem;
    

 }
 .top_nav a::before {
  content: '';
  display: inline-block;
  height: 5px;
  background-color: #33473F;

  position: absolute;

  top: -1vh;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.top_nav a:hover::before {
  width: 100%;
}



.container {
position: absolute;
top: 20%;
right: 2%;
float: right;
    display: none;
      
    cursor: pointer;

}

.bar1, .bar2  {
    width: 35px;
    height: 5px;
    background-color: #333;

    margin-bottom: 6px;
    transition: 0.4s;
}
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;

    
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


.header__menu--extra{

    position: fixed;
    float: right;
    padding-top: 1%;
    top: 0;
    right: 5%;
    display: inline-block;
    margin-top: 1em;
    z-index: 100;
}

.header .header__col {
    display: inline-block;
    vertical-align: top;
}

.btn--main{
  margin-bottom: 60px;
}

#basket-preview{
  margin-bottom: 30px;
  display: inline-block;
}
.js_open .global-nav-list a{
    transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        
}
.js_open.global_nav {
    transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        

}
.global_nav{

    /*background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
    background-image: -webkit-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
    background-image: -o-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);*/

/*    background: #7b4397;   fallback for old browsers 
background: -webkit-linear-gradient(to right, #dc2430, #7b4397);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #dc2430, #7b4397);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #fff;
 
    width: 100%;
    height: 150vh;
    
    position: fixed;
/*      position: fixed;
  width: 100%;
  height: 100%;*/
      top: 0;
    left: 0;
 /*   display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center; 
    align-items: center;*/
    -webkit-transition: 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
    z-index: 1;
    cursor: pointer;


 }


 .global-nav-list a::before {
  content: '';
  display: inline-block;
  height: 15px;
  background-color: #33473F;

  position: absolute;
  top: 50%;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.global-nav-list a:hover::before {
  width: 100%;
}

.global-nav-list {
    position: fixed;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    top:10%;
    width: 80%;
    right: 0;
    left: 0;
 /*   overflow: scroll;*/


}
    


ul {
    list-style: none;
}

.global-nav-list li {
    margin-top: 1rem;
    position: relative;
  /*  padding: 0 153px;*/
    
}


.global-nav-list a {
    display: inline-block;
    color: #000;
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 0.1em;
    font-family: "HelveticaNeueLTStd-Ld" sans-serif;
    font-weight: 700;
    font-weight: normal;
   /* text-shadow: 0 10px 30px rgba(2, 11, 22, 0.2);*/
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
    -o-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;

}
#cursor{
position: absolute;
display: none;
z-index: 100;
}

#cursor img{
/*position: absolute;
*/width: 400px;
z-index: 100;
}








